footer{
    margin-top: 15px;
    width: 100vw;
    height: 8vh;
    position: relative;
    bottom: 0;
    background-color: #5baf30;
}
.footer_section{
    width: 50vw;
    margin: auto;
}
.footer_ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    padding-top: 8px;
}
.footer_links{
    color: #fff;
}
.copyright{
    margin-top: 5px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}